.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #fcfcfc;
}
.cards-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  padding-bottom: 40px;
}
.dashboard-category-section {
  width: 100%;
  background-color: #fcfcfc;
  padding: 10px 0;
}
.restaurants-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 40px;
}
