.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fcfcfc;
  box-sizing: border-box;
}
.cards-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  padding-bottom: 40px;
}
.dashboard-category-section {
  width: 100%;
  background-color: #fcfcfc;
  padding: 10px 0;
}
.dashboard-grid {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start; 
  gap: 24px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
.restaurants-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 16px;
  flex: 3;
}
.fixed-qr-sidebar {
flex: 1;
  position: sticky; 
  top: 20px; 
  display: flex;
  justify-content: center; 
  pointer-events: auto;
}

@media (max-width: 768px) {
  .restaurants-grid {
    padding-left: 0px !important;
    padding-right: 5px !important;
    gap: 12px !important; 
    width: 100% !important;
    box-shadow:
      3px 3px 6px #bec3c9,
      -3px -3px 6px #ffffff;
    box-sizing: border-box;
    justify-content: center;
  }
  .restaurant-card {
    width: 100% !important;
    max-width: 100% !important; 
    border-radius: 0px !important; 
    box-shadow: none !important; 
  }
  .restaurant-card-image,
  .restaurant-card-image img {
    border-radius: 0px !important;
  }
}
